<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/media/css/template.css">
</head>
<body>
<header>
    <div class="container">
        <h1>ProgBlog</h1>
        {% if not auth.isAuth() %}
            <form action="/login" class="logform" method="post">
                <dl>
                    <dt>Login:</dt>
                    <dd><input type="text" name="login"></dd>
                    <dt>Password:</dt>
                    <dd><input type="password" name="pass"></dd>
                    <dd><input type="submit"></dd>
                </dl>
            </form>
        {% endif %}

        <ul class="nav">
            <li><a href="/">Main</a></li>
            <li><a href="#">Category</a></li>
            {% if auth.isAuth() %}
            <li class="right"><a href="/logout">Logout</a></li>
            <li class="right"><a href="/home/posts">My Posts</a></li>
            {% else %}
            <li class="right"><a href="/register">Regestration</a></li>
            {% endif %}
        </ul>
    </div>
</header>
<div class="content">
    <div class="container">
        <div class="main">{{ view| raw }}</div>
        <div class="right">{{ rmenu|raw }}</div>
    </div>
</div>
<footer>
    &copy; FD SPRING 2017
</footer>
</body>
</html>