<a class="addpostbtn" href="/home/addpost">Add new post</a>
<style>
    .post .image{
        height: 250px;
        background-size: cover;
        background-position: center;
    }
</style>

{% for post in posts %}
    <div class="post">
        <h2>{{ post.name }}</h2>
        <div class="image" style="background-image: url('{{ post.getImage().url }}')"></div>
        <div class="derails">
            {{ post.text|raw }}
        </div>
    </div>
{% endfor %}